.app {
  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  justify-content: space-between; 
  flex-direction: column;
  flex-grow: 3;
  font-family: 'Roboto Slab', 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: calc(100% - 104px*2);
}

@media screen and (max-width: 1020px){
  .section {
    max-width: calc(100% - 40px*2);
  }
}

@media screen and (max-width: 760px){
  .section {
    max-width: calc(100% - 16px*2);
  }
}
