.about {
  display: grid;
  max-width: 100%;
  grid-template-columns: .465fr .6fr .01fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
  padding: 80px 104px;
  justify-content: stretch;
}
.about__photo {
  max-width: 100%;
  width: 100%;
  margin: 0;
  border-radius: 50%;
  object-fit: cover;
}
.about__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}
.about__heading {
  margin: 12px 0;
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 46px;
}
.about__description {
  margin: 12px 0;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
}