.header {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    padding: 0 104px; /* вынести */
    background: url('../../images/background.png') center no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.header__content{
    width: 608px;
    min-height: auto;
    margin: 80px auto;
    padding: 0;
}
.header__heading {
    margin: 0 auto 32px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
}
.header__caption {
    margin: 0 auto 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    max-width: 100%;
    white-space: nowrap;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
.navigation__logo {
    margin: 0;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.navigation__link {
    margin: 0 15px;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#FFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transition: all .5s;
}
.navigation__link:hover {
    box-shadow: 0 5px 0 #FFF;
}
.navigation__link:last-child {
    max-width: 100%;
    margin: 19px 0 13px 15px;
    padding: 0 12px;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
}
.navigation__link:last-child:hover {
    box-shadow: 0 0 5px #FFF;
}
.navigation__name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    margin-block-start: .7em;
    margin-block-end: .7em;
}
.navigation__logout {
    width: 24px;
    min-height: 24px;
    margin: 0 0 0 9px;
    background: url('../../images/svg/logout-icon-white.svg') center no-repeat;
    background-size: cover;
}
.search-form {
    display: flex;
    height: 64px;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border-radius: 100px;
    border: none;
    background: #FFF;
}
.search-form__input {
    width: 100%;
    color: #1A1B22;
    margin: 0 24px;
    padding: 0;
    border: none;
}
.search-form__input::placeholder {
    color: #B6BCBF;
}
.search-form__input:focus {
    outline: none;
}
.search-form__search-button {
    width: 168px;
    height: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background-color: #2F71E5;
    color:#FFF;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    border: none;
}
.search-form__search-button:hover {
    background-color: #347EFF;
    cursor: pointer;
}
.search-form__search-button:active {
    background-color: #2A65CC;
}
.search-form__search-button:focus {
    outline: none;    
}


@media screen and (max-width: 300px) {
    .header {
        background: #FFF;
        color:#1A1B22;
    }
    .navigation__link {
        color:#1A1B22;
    }
    .navigation__logout {
        background: url('../../images/svg/logout-icon-black.svg') center no-repeat;
    }
}