.card-list {
  display: flex;
  flex-direction: column;
  background: #f5f6f7;
  padding: 0 104px;
  min-height: 500px;
  
}

.card-list__header {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 80px 0 0;
}
.card-list__container {
  display: grid;
  justify-content: center;
  grid: min-content / repeat(3, minmax(100px, 262px));
  grid-auto-flow: row;
  /* grid-auto-rows: 576px; */
  gap: 16px;
  margin: 64px 0;
  padding: 0;
}
.card-list__button {
  box-shadow: 0 0 1px #b6bcbf;
  border: none;
  background: #fff;
  border-radius: 80px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  min-width: 288px;
  min-height: 64px;
  margin: 0 auto 80px;
  color: #1a1b22;
  outline: none;
}
.card-list__button:hover {
  cursor: pointer;
  background: #e6e8eb;
}
.no-result {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 86px auto 80px;
  max-width: 346px;
}
.no-result__image {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}
.no-result__heading {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 24px auto 0;
}
.no-result__description {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 16px auto 0;
}

@media screen and (max-width: 768px) {
  .card-list {
    padding: 0 40px;
  }
  .card-list__header {
    font-size: 30px;
    line-height: 34px;
    margin: 20px 0 0;
  }
  .card-list__container {
    gap: 8px;
    margin: 32px 0;
    grid: min-content / repeat(auto-fill, 224px);
  }
  .card-list__button {
    width: 240px;
    height: 56px;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 660px) {
  .card {
    grid: min-content  / repeat(auto-fill, 288px);
  }
  .card-list {
    padding: 0 10px;
  }
}
