.card__container {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  /* display: flex;
  justify-content: space-between; */
}
.card__image {
  min-width: 100%;
  height: 272px;
  object-fit: cover;
}
.card__button-container {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
}
.card__button-container_main {
}
.card__button-container_main:hover .card__button-info-container {
  display: flex;
  font-size: 10px;
  line-height: 12px;
}
.card__button-container_saved-news {
}
.card__button-container_saved-news:hover .card__button-info-container {
  display: flex;
  font-size: 12px;
  line-height: 14px;
}
.card__button-info-container {
  display: none;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  background-color: #fff;
  border-radius: 10px;
  min-height: 40px;
  margin-right: 5px;
  color: #000000;
}
.card__button-info {
  margin: 0 12px;
  align-self: center;
}
.card__button {
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 10px;
  background-position: center;
  border: none;
  height: 40px;
  width: 40px;
}
.card__button:hover {
  cursor: pointer;
}
.card__button_add {
  background-image: url(../../images/svg/add-button.svg);
}
.card__button_add:hover {
  background-image: url(../../images/svg/add-button-black.svg);
}
.card__button_delete {
  background-image: url(../../images/svg/bin.svg);
}
.card__button_delete:hover {
  background-image: url(../../images/svg/bin-black.svg);
}
.card__keyword-container {
  display: flex;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  left: 24px;
  top: 24px;
  min-height: 40px;
}
.card__keyword {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0 12px;
  color: #000000;
  align-self: center;
}
.card__text {
  /* display: flex;
  flex-direction: column; */
  min-height: 230px;
  margin: 20px 24px 0;
  color: #1a1b22;
}
.card__date {
  margin: 0 auto 0 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}
.card__title {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 12px auto 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__description {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__sourse {
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 10px 24px 24px;
}
@media screen and (max-width: 1020px) {
  /* .card__image {
    height: 150px;
  } */
  .card__heading {
    -webkit-line-clamp: 2;
  }
  .card__description {
    -webkit-line-clamp: 3;
  }
  /* .card__text {
    min-height: 180px;
  } */
}

@media screen and (max-width: 768px) {
  .card__image {
    height: 196px;
  }
  .card__button-container {
    top: 16px;
    right: 16px;
  }
  .card__button-info-container {
    margin-right: 5px;
  }
  .card__button-container_main:hover .card__button-info-container {
    font-size: 10px;
    line-height: 12px;
  }
  .card__button-container_saved-news:hover .card__button-info-container {
    font-size: 9px;
    line-height: 11px;
  }
  .card__keyword-container {
    left: 16px;
    top: 16px;
  }
  .card__text {
    margin: 16px 16px 0;
    min-height: 184px;
  }
  .card__title {
    margin: 10px auto 0 0;
    -webkit-line-clamp: 2;
    font-size: 22px;
    line-height: 26px;
  }
  .card__sourse {
    margin: auto 16px 16px;
  }
}
